In [1]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd
import altair as alt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
import requests
import zipfile

url = "https://archive.ics.uci.edu/static/public/1/abalone.zip"

request = requests.get(url)
with open("../data/raw/abalone.zip", 'wb') as f:
    f.write(request.content)

with zipfile.ZipFile("../data/raw/abalone.zip", 'r') as zip_ref:
    zip_ref.extractall("../data/raw")

In [8]:
abalone = fetch_ucirepo(id=1)

In [13]:
import pandas as pd
import pandera.pandas as pa

In [16]:
# Extract features and targets
X = abalone.data.features
y = abalone.data.targets

# Split Data (Same random_state as baseline for comparison)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=522
)

train_df = pd.concat([X_train, y_train], axis=1)
test_df = pd.concat([X_test, y_test], axis=1)

In [24]:
#This schema checks column types, and that there are no NULL values in the feature columns. 
 
schema = pa.DataFrameSchema({
    "Sex": pa.Column(str, nullable=False),
    "Length": pa.Column(float, nullable=False),
    "Diameter": pa.Column(float, nullable=False),
    "Height": pa.Column(float, nullable=False),
    "Whole_weight": pa.Column(float, nullable=False),
    "Shucked_weight": pa.Column(float, nullable=False),
    "Viscera_weight": pa.Column(float, nullable=False),
    "Shell_weight": pa.Column(float, nullable=False),
    "Rings": pa.Column(int)   
}
)

schema.validate(train_df, lazy=True)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
2194,I,0.430,0.325,0.110,0.3675,0.1355,0.0935,0.1200,13
3996,I,0.315,0.230,0.000,0.1340,0.0575,0.0285,0.3505,6
3329,F,0.545,0.435,0.150,0.6855,0.2905,0.1450,0.2250,10
492,F,0.655,0.510,0.155,1.2895,0.5345,0.2855,0.4100,11
241,I,0.270,0.200,0.070,0.1000,0.0340,0.0245,0.0350,5
...,...,...,...,...,...,...,...,...,...
3956,F,0.515,0.395,0.140,0.6860,0.2810,0.1255,0.2200,12
154,F,0.565,0.450,0.135,0.9885,0.3870,0.1495,0.3100,12
3360,F,0.580,0.440,0.175,1.0730,0.4005,0.2345,0.3350,19
1899,M,0.575,0.450,0.130,0.7850,0.3180,0.1930,0.2265,9
3988,M,0.665,0.515,0.165,1.3855,0.6210,0.3020,0.3445,8

In [25]:
#This checks that there are not more than 5% missing values in the target column

schema = pa.DataFrameSchema(
    {
        "Rings": pa.Column(int,
                                pa.Check(lambda s: s.isna().mean() <= 0.05,
                                    element_wise=False,
                                    error="Too many null values in 'Rings' column."),
                                nullable=True)
    }
)

schema.validate(train_df, lazy=True)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
2194,I,0.430,0.325,0.110,0.3675,0.1355,0.0935,0.1200,13
3996,I,0.315,0.230,0.000,0.1340,0.0575,0.0285,0.3505,6
3329,F,0.545,0.435,0.150,0.6855,0.2905,0.1450,0.2250,10
492,F,0.655,0.510,0.155,1.2895,0.5345,0.2855,0.4100,11
241,I,0.270,0.200,0.070,0.1000,0.0340,0.0245,0.0350,5
...,...,...,...,...,...,...,...,...,...
3956,F,0.515,0.395,0.140,0.6860,0.2810,0.1255,0.2200,12
154,F,0.565,0.450,0.135,0.9885,0.3870,0.1495,0.3100,12
3360,F,0.580,0.440,0.175,1.0730,0.4005,0.2345,0.3350,19
1899,M,0.575,0.450,0.130,0.7850,0.3180,0.1930,0.2265,9
3988,M,0.665,0.515,0.165,1.3855,0.6210,0.3020,0.3445,8

In [32]:
# checking that numeric features are within range; no extreme outliers

schema = pa.DataFrameSchema(
    {
        "Length": pa.Column(float, pa.Check.between(0, 1)),
        "Diameter": pa.Column(float, pa.Check.between(0, 1)),
        "Height": pa.Column(float, pa.Check.between(0, 1)),
        "Whole_weight": pa.Column(float, pa.Check.between(0, 3)),
        "Shucked_weight": pa.Column(float, pa.Check.between(0, 2)),
        "Viscera_weight": pa.Column(float, pa.Check.between(0, 1)),
        "Shell_weight": pa.Column(float, pa.Check.between(0, 1.10)),
        "Rings": pa.Column(int, pa.Check.between(0, 30))
    }
)

schema.validate(train_df, lazy=True)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
2194,I,0.430,0.325,0.110,0.3675,0.1355,0.0935,0.1200,13
3996,I,0.315,0.230,0.000,0.1340,0.0575,0.0285,0.3505,6
3329,F,0.545,0.435,0.150,0.6855,0.2905,0.1450,0.2250,10
492,F,0.655,0.510,0.155,1.2895,0.5345,0.2855,0.4100,11
241,I,0.270,0.200,0.070,0.1000,0.0340,0.0245,0.0350,5
...,...,...,...,...,...,...,...,...,...
3956,F,0.515,0.395,0.140,0.6860,0.2810,0.1255,0.2200,12
154,F,0.565,0.450,0.135,0.9885,0.3870,0.1495,0.3100,12
3360,F,0.580,0.440,0.175,1.0730,0.4005,0.2345,0.3350,19
1899,M,0.575,0.450,0.130,0.7850,0.3180,0.1930,0.2265,9
3988,M,0.665,0.515,0.165,1.3855,0.6210,0.3020,0.3445,8

In [34]:
#checking that the 'sex' column only has the values M, F, or I

schema = pa.DataFrameSchema(
    {
        "Sex": pa.Column(str, pa.Check.isin(["M", "F", "I"]), nullable = False)
    }
)

schema.validate(train_df, lazy=True)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
2194,I,0.430,0.325,0.110,0.3675,0.1355,0.0935,0.1200,13
3996,I,0.315,0.230,0.000,0.1340,0.0575,0.0285,0.3505,6
3329,F,0.545,0.435,0.150,0.6855,0.2905,0.1450,0.2250,10
492,F,0.655,0.510,0.155,1.2895,0.5345,0.2855,0.4100,11
241,I,0.270,0.200,0.070,0.1000,0.0340,0.0245,0.0350,5
...,...,...,...,...,...,...,...,...,...
3956,F,0.515,0.395,0.140,0.6860,0.2810,0.1255,0.2200,12
154,F,0.565,0.450,0.135,0.9885,0.3870,0.1495,0.3100,12
3360,F,0.580,0.440,0.175,1.0730,0.4005,0.2345,0.3350,19
1899,M,0.575,0.450,0.130,0.7850,0.3180,0.1930,0.2265,9
3988,M,0.665,0.515,0.165,1.3855,0.6210,0.3020,0.3445,8

In [35]:
#checking for duplicates

schema = pa.DataFrameSchema(
    checks=[
        pa.Check(lambda train_df: ~train_df.duplicated().any(), error="Duplicate rows found.")
    ]
)

schema.validate(train_df, lazy=True)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
2194,I,0.430,0.325,0.110,0.3675,0.1355,0.0935,0.1200,13
3996,I,0.315,0.230,0.000,0.1340,0.0575,0.0285,0.3505,6
3329,F,0.545,0.435,0.150,0.6855,0.2905,0.1450,0.2250,10
492,F,0.655,0.510,0.155,1.2895,0.5345,0.2855,0.4100,11
241,I,0.270,0.200,0.070,0.1000,0.0340,0.0245,0.0350,5
...,...,...,...,...,...,...,...,...,...
3956,F,0.515,0.395,0.140,0.6860,0.2810,0.1255,0.2200,12
154,F,0.565,0.450,0.135,0.9885,0.3870,0.1495,0.3100,12
3360,F,0.580,0.440,0.175,1.0730,0.4005,0.2345,0.3350,19
1899,M,0.575,0.450,0.130,0.7850,0.3180,0.1930,0.2265,9
3988,M,0.665,0.515,0.165,1.3855,0.6210,0.3020,0.3445,8

In [36]:
#checking for empty observations

schema = pa.DataFrameSchema(
    checks=[
        pa.Check(lambda train_df: ~train_df.duplicated().any(), error="Duplicate rows found."),
        pa.Check(lambda train_df: ~(train_df.isna().all(axis=1)).any(), error="Empty rows found.")
    ]
)

schema.validate(train_df, lazy=True)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
2194,I,0.430,0.325,0.110,0.3675,0.1355,0.0935,0.1200,13
3996,I,0.315,0.230,0.000,0.1340,0.0575,0.0285,0.3505,6
3329,F,0.545,0.435,0.150,0.6855,0.2905,0.1450,0.2250,10
492,F,0.655,0.510,0.155,1.2895,0.5345,0.2855,0.4100,11
241,I,0.270,0.200,0.070,0.1000,0.0340,0.0245,0.0350,5
...,...,...,...,...,...,...,...,...,...
3956,F,0.515,0.395,0.140,0.6860,0.2810,0.1255,0.2200,12
154,F,0.565,0.450,0.135,0.9885,0.3870,0.1495,0.3100,12
3360,F,0.580,0.440,0.175,1.0730,0.4005,0.2345,0.3350,19
1899,M,0.575,0.450,0.130,0.7850,0.3180,0.1930,0.2265,9
3988,M,0.665,0.515,0.165,1.3855,0.6210,0.3020,0.3445,8